
<!DOCTYPE HTML>
<html>
<body>
    <br>
    <div style="width:33%; margin:0 auto;">
        <img src="@Url.Content("~/Content/Compass.png")" width="400" height="400" class="center" />
    </div>
    <h2 style="text-align:center;font-family:tahoma;color:silver;font-size: 1em">
        Aplikacje umożliwiająca planowanie tras, wykorzystująca google maps API.
    </h2>
    <br />
    <br />
</body>

</html>