
<!DOCTYPE HTML>
<html>
<body>
    <div class="Approved">
        <img src="@Url.Content("~/Content/Approved.png")" width="400" height="400" />
    </div>
    <div class="heading">
        <h1>
            Thank you for your feedback
            <br />
        </h1>
    </div>

</body>

</html>